.btnplus{
    border-radius: 100%;
    bottom: 25px;
    font-size: 30px;
    padding: 30 px;
    position: fixed;
    right: 25px;
}


.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    padding: 1rem 1.5rem;
    height: 100%;
    overflow-y: auto;
}

.xClose{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
